<div class="container col-6 col-lg-4">
  <br>
  <h2 class='text-center'>Sign up</h2>
  <br>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :user_type, collection: User.user_types.keys %>
      <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
    </div>
    <div class="form-actions">
      <div class="class container text-center">
        <%= f.button :submit, "Sign up", class: 'btn btn-gradient px-4' %>
      </div>
    </div>
  <% end %>
  <br>
  <div class="container d-block text-center border-top border-white p-2">
    <p>Already on Spotlight?</p>
    <%= render "devise/shared/links" %>
  </div>
</div>
