<div class="main d-flex">
  <div class="d-block full-width">
    <%= render "shared/simpletop" %>
  </div>
  <div class="container col-6 col-lg-4 my-5" data-controller="spotify">
    <h1 class='text-center' data-spotify-target="title">Create your profile</h1>
    <%= simple_form_for @artist do |f| %>
      <%= f.input :name %>
      <%= f.input :age %>
      <%= f.input :location %>
      <%= f.input :roles, collection: Artist::ROLES, include_hidden: false, input_html: { multiple: true } %>
      <%= f.input :bio %>
      <%= f.input :influences, input_html: {id: "autoComplete", data: {"spotify-target": "input"}} %>
      <%= f.input :genres, collection: Artist::GENRES, include_hidden: false, input_html: { multiple: true } %>
      <%= f.input :youtube_url %>
      <%= f.input :instagram_url %>
      <%= f.input :photo, as: :file  %>
      <div class="container text-center">
        <%= f.submit "Create", class: 'btb btn-gradient py-2' %>
      </div>
    <% end %>
  </div>
  <div class="d-block full-width">
    <%= render "shared/footer" %>
  </div>
</div>

      <%#= f.input :influences, collection: Artist::INFLUENCES.map {|influence| influence[:name]}, include_hidden: false, input_html: { multiple: true, max: 4 } %>
