<!-- Navbar -->
<%= render 'shared/navbar' %>
<!-- Basic info card -->
<div class="container basic-info d-flex justify-content-between" data-controller="tabs">
  <div class="profile-card position-relative px-5">
    <% if @artist.photo.attached? %>
      <%= cl_image_tag @artist.photo.key, alt:"avatar profile", class:"avatar-profile", height:"200", width:"200" %>
    <% else %>
      <%= image_tag "https://miro.medium.com/max/200/1*W35QUSvGpcLuxPo3SRTH4w.png", class:"avatar-profile", height: "200", width:"200"%>
    <% end %>
    <% if current_user == @artist.user %>
      <%= link_to artist_path do %>
        <i class="far fa-edit fa-2x edit-btn" data-toggle="modal" data-target="#infoModal"></i>
      <% end %>
    <% end %>
    <div class="text-center pb-3">
      <h2><%= @artist.name %> <%= @artist.age.nil? ? "" : "(#{@artist.age})" %></h2>
      <h4><%= @artist.location %></h4>
    </div>
    <div class="d-flex justify-content-around pb-2">
      <p>
        <% @artist.roles.each do |role| %>
          <span class="badge badge-pill badge-info p-2"><%= role %></span>
        <% end %>
      </p>
      <p>
        <% @artist.genres.each do |genre| %>
          <span class="badge badge-pill badge-light p-2">#<%= genre %></span>
        <% end %>
      </p>
    </div>
    <div class="d-flex justify-content-around">
      <% unless current_user == @artist.user %>
        <% if current_user.following?(@artist.user) %>
          <%= link_to "Connected", artist_unfollow_path(@artist), class: "btn btn-blue px-5" %>
        <% else %>
          <%= link_to "Connect", artist_follow_path(@artist), class: "btn btn-gradient px-5" %>
        <% end %>
      <% end %>
      <%= link_to "Message", chatrooms_path(profile_id: @artist.id, user_type: :artist), method: :post, class: "btn btn-gradient px-5" %>
    </div>
    <div class="">
      <h4 class="pt-3">About me</h4>
      <p><%= @artist.bio %></p>
      <h4 class="pt-3">My influences</h4>
    </div>
    <div class= "d-flex justify-content-around">
      <% @artist.influences.each do |influence| %>
        <%= image_tag @artist.influence_image(influence), class:"influences-avatar mt-4", data: { toggle: 'tooltip', placement: 'top', title: 'Facebook' } %>
      <% end %>
    </div>
  </div>
  <!-- links card -->
  <div class="profile-card-links py-5 my-5 position-relative">
    <%# TAB NAVIGATION %>
    <ul class="nav nav-tabs nav-profile" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active nav-link-artist" id="links-tab" data-toggle="tab" href="#links" role="tab" aria-controls="links" aria-selected="true">My links</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link nav-link-artist" id="songs-tab" data-toggle="tab" href="#songs" role="tab" aria-controls="songs" aria-selected="false">My songs</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link nav-link-artist" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">Events</a>
      </li>
    </ul>
    <div class="tab-content pt-5">
      <%# LINKS TAB %>
      <div class="tab-pane fade show active" id="links" role="tabpanel" aria-labelledby="links-tab">
        <div class="position-relative">
          <i class="far fa-edit edit-btn-links" data-toggle="modal" data-target="#linksModal"></i>
        </div>
        <h4 class="p-4">YouTube</h4>
        <div class="container d-flex justify-content-around">
          <iframe width="370" height="200" src="<%= @artist.youtube_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="container d-block">
          <h4 class="insta-h p-2 mt-5">Instagram</h4>
          <div class="container d-flex justify-content-around">
            <blockquote class="instagram-media" data-instgrm-version="7" >
              <a href="<%= @artist.instagram_url %>"></a>
            </blockquote>
            <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
          </div>
        </div>
      </div>
      <%# SONGS TAB %>
      <div class="tab-pane fade" id="songs" role="tabpanel" aria-labelledby="songs-tab" data-controller='flipcard'>
        <div class="position-relative">
          <h3>My latests releases</h3>
          <button class="upload-song" data-toggle="modal" data-target="#songsModal">+</button>
          <% @songs.each do |song| %>
            <div class="flip-card-wrapper mb-3">
              <div id="flip-card" class='flipable-card' data-action='click->flipcard#flip'>
                <div class="card__face card__face--front">
                  <div class="flip-card-info">
                    <h5><%= song.title %></h5>
                    <p>released on <%= song.released %></p>
                  </div>
                  <% if song.track.attached? %>
                    <div class="pl-2">
                      <audio controls>
                        <source src="<%= cl_video_path song.track.key %>" type="audio/mpeg">
                        Your browser does not support the audio tag.
                      </audio>
                    </div>
                  <% end %>
                </div>
                <div class='card__face card__face--back'>
                  <p class="song-description"><%= song.song_description %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <%# EVENTS TAB %>
      <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
        <div class="position-relative">
          <i class="far fa-edit edit-btn-links" data-toggle="modal" data-target="#eventsModal"></i>
          <div class="container d-block">
            <h4 class="cal-h p-2">My calendar</h4>
            <div class="d-flex flex-column">
              <div class="d-flex justify-content-center">
                <%= render 'shared/calendar' %>
              </div>
              <div class="d-flex justify-content-center">
                <div id="artist-events"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Info Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Edit your details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @artist do |f| %>
          <%= render "artists/form_fields", f: f %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Update", class: 'btn btn-blue p-2' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Links Modal -->
<div class="modal fade" id="linksModal" tabindex="-1" aria-labelledby="linksModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="linksModalLabel">Edit your links</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @artist do |f| %>
          <%= f.input :youtube_url %>
          <%= f.input :instagram_url %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Update", class: 'btn btn-blue p-2' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Songs Modal -->
<div class="modal fade" id="songsModal" tabindex="-1" aria-labelledby="songsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="songsModalLabel">Upload your songs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@artist, @song] do |f| %>
          <%= f.input :title %>
          <%= f.input :released %>
          <%= f.input :song_description %>
          <%= f.input :track, as: :file  %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Upload", class: 'btn btn-blue p-2' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Events Modal -->
<div class="modal fade" id="eventsModal" tabindex="-1" aria-labelledby="eventsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventsModalLabel">Create an Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render partial: "events/new", locals: {organizable: @artist} %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
