<div class="container d-flex justify-content-between">
  <div class="card-profile">
    <div class="personal">
      <h1><%= @artist.name %> <%= @artist.age.nil? ? "" : "(#{@artist.age})" %></h1>
      <h2><%= @artist.location %></h2>
      <p>
        <% @artist.genres.each do |genre| %>
          #<%= genre %>
        <% end %>
      </p>
    </div class="button">
    <button type='button'>Connect</button> <button type='button'>Save</button>
    <div class="bio text-wrap" style="width: 500px;">
      <h2>About me</h2>
      <p> <%= @artist.bio %> </p>
    </div>
    <div class="influences">
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Edit
    </button>
  </div>
  <div class="card-links">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#links">My links</a></li>
      <li><a data-toggle="tab" href="#songs">My songs</a></li>
      <li><a data-toggle="tab" href="#events">Events</a></li>
    </ul>
    <div class="tab-content">
      <div id="links" class="tab-pane fade in active">
        <h3>LINKS</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div id="songs" class="tab-pane fade">
        <h3>SONGS</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="events" class="tab-pane fade">
        <h3>EVENTS</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
    </div>
    <div class="sound-cloud">
    </div>
    <div class="youtube">
    </div>
    <div class="instagram">
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      <span>Edit</span>
    </button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Edit your information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for @artist do |f| %>
            <%= f.input :name %>
            <%= f.input :age %>
            <%= f.input :location %>
            <%= f.input :bio %>
            <%= f.input :influences %>
            <%= f.input :genres, collection: Artist::GENRES, include_hidden: false, input_html: { multiple: true } %>
            <%= f.input :soundcloud_url %>
            <%= f.input :website_url %>
            <%= f.input :youtube_url %>
            <%= f.input :instagram_url %>
            <%= f.submit "Update", class: 'btn btn-blue p-2' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
