<%= render 'shared/navbar' %>
<div class="container p-0 my-5 back-messages">
  <div class="d-flex title-chat align-items-center pl-5 py-3">
    <i class="fas fa-inbox fa-2x icono-inbox"></i>
    <h3 class="p-4 m-0">Your messages</h3>
  </div>
  <div class="d-flex">
    <div class="chat-messages d-flex flex-column">
      <% @chatrooms.each do |chatroom|  %>
      <div class="chat-message p-4">
          <%= link_to chatroom_path(chatroom) do%>
          <div class="d-flex align-items-center">
            <% if chatroom.get_other_user_photo.attached? %>
              <%= cl_image_tag chatroom.get_other_user_photo.key, alt:"avatar profile", class: "avatar dropdown-toggle rounded-circle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false,  height:"40", width:"40"%>
            <% else %>
              <%= image_tag "https://miro.medium.com/max/200/1*W35QUSvGpcLuxPo3SRTH4w.png", class: "avatar dropdown-toggle rounded-circle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false,  height:"40", width:"40"%>
            <% end %>
            <p class="pl-2 mb-0 font-weight-bold"><%= chatroom.get_others_users(current_user).first.profile_instance.name %></p>
            </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="empty-message-container flex-fill align-self-center">
      <h6> Start connecting...</h6>
      <h6>Open one of the chats!!</h6>
      <i class="far fa-paper-plane fa-3x icon-empty"></i>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
