<div>
  <h1 class="text-center">Create a profile</h1>
</div>
<div class="container col-6 col-lg-4">
  <%= simple_form_for(@label) do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :bio %>
    <%= f.input :website_url %>
    <%= f.input :photo, as: :file  %>
    <%= f.submit "Create", class: 'btb btn-gradient p-2' %>
  <% end %>
</div>
