<!-- Navbar -->
<%= render 'shared/navbar' %>
<!-- Basic info card -->
<div class="container basic-info d-flex justify-content-between" data-controller="tabs">
  <div class="profile-card position-relative px-5">
    <% if @label.photo.attached? %>
      <%= cl_image_tag @label.photo.key, alt:"avatar profile", class:"avatar-profile", height:"200", width:"200" %>
    <% else %>
      <%= image_tag "https://miro.medium.com/max/200/1*W35QUSvGpcLuxPo3SRTH4w.png", class:"avatar-profile", height: "200", width:"200"%>
    <% end %>
    <i class="far fa-edit fa-2x edit-btn" data-toggle="modal" data-target="#exampleModalCenter"></i>
    <div class="text-center pb-3">
      <h2><%= @label.name %></h2>
      <h4><%= @label.location %></h4>
    </div>
    <div class="d-flex justify-content-around">
      <% unless current_user == @label.user %>
        <% if current_user.following?(@label.user) %>
          <%= link_to "Connected", label_unfollow_path(@label), class: "btn btn-blue px-5" %>
        <% else %>
          <%= link_to "Connect", label_follow_path(@label), class: "btn btn-gradient px-5" %>
        <% end %>
      <% end %>
      <%= link_to "Message", chatrooms_path(profile_id: @label.id, user_type: :label), method: :post, class: "btn btn-gradient px-5" %>
    </div>
    <div class="">
      <h4 class="pt-3">About us</h4>
      <p><%= @label.bio %></p>
    </div>
  </div>
  <div class="profile-card-links py-5 my-5">
    <%# TAB NAVIGATION %>
    <ul class="nav nav-tabs nav-profile" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active nav-link-artist" id="artistlist-tab" data-toggle="tab" href="#artistlist" role="tab" aria-controls="artistlist" aria-selected="true">Our artists</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link nav-link-artist" id="labellinks-tab" data-toggle="tab" href="#labellinks" role="tab" aria-controls="labellinks" aria-selected="false">Our links</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link nav-link-artist" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="events" aria-selected="false">Events</a>
      </li>
    </ul>
    <div class="tab-content pt-5">
      <%# artistlist TAB %>
      <div class="tab-pane fade show active px-5" id="artistlist" role="tabpanel" aria-labelledby="artistlist-tab">
        <div class="position-relative">
          <i class="far fa-edit edit-btn-links" data-toggle="modal" data-target="#artistlistModal"></i>
        </div>
        <h4>Our artists</h4>
      </div>
      <%# links TAB %>
      <div class="tab-pane fade px-5" id="labellinks" role="tabpanel" aria-labelledby="labellinks-tab">
        <div class="position-relative">
          <i class="far fa-edit edit-btn-links" data-toggle="modal" data-target="#labellinksModal"></i>
        </div>
        <h4>Official website</h4>
        <% unless @label.website_url.nil? %>
          <p> <%= @label.website_url %></p>
        <% end %>
      </div>
      <%# EVENTS TAB %>
      <div class="tab-pane fade  px-5" id="events" role="tabpanel" aria-labelledby="events-tab">
        <div class="position-relative">
          <i class="far fa-edit edit-btn-links" data-toggle="modal" data-target="#eventsModal"></i>
        </div>
        <div class="container d-block">
          <h4 class="cal-h">Our calendar</h4>
          <div class="d-flex justify-content-center mt-4">
            <%= render 'shared/calendar' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Basic info Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit your information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@label) do |f| %>
          <%= f.input :name %>
          <%= f.input :location %>
          <%= f.input :bio %>
          <%= f.input :website_url %>
          <%= f.submit "Update", class: 'btn btn-blue p-2' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Artist list Modal -->
<div class="modal fade" id="artistlistModal" tabindex="-1" role="dialog" aria-labelledby="artistlistModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="artistlistModalTitle">Edit your information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@label) do |f| %>
          <%= f.input :name %>
          <%= f.input :location %>
          <%= f.input :bio %>
          <%= f.input :website_url %>
          <%= f.submit "Update", class: 'btn btn-blue p-2' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Links Modal -->
<div class="modal fade" id="labellinksModal" tabindex="-1" role="dialog" aria-labelledby="labellinksModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="labellinksModalTitle">Edit your information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@label) do |f| %>
          <%= f.input :website_url %>
          <%= f.submit "Update", class: 'btn btn-blue p-2' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# Events modal %>
<div class="modal fade" id="eventsModal" tabindex="-1" aria-labelledby="eventsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventsModalLabel">Create an Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render partial: "events/new", locals: {organizable: @label} %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
