<div class="container">
  <h2>
    <strong><%= @label.name %><strong>
      </h2>
      <h5><%= @label.location %></h5>
      <p><%= @label.website_url %></p>
      <br>
      <div class="container">
        <h3>About us</h3>
        <p><%= @label.bio %></p>
      </div>
      <!-- Modal button-->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        <span>Edit</span>
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Edit your information</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for(@label) do |f| %>
                <%= f.input :name %>
                <%= f.input :location %>
                <%= f.input :bio %>
                <%= f.input :website_url %>
                <%= f.submit "Update" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
