<%= simple_form_for [organizable, Event.new], remote: true do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :date, as: :date, html5: true %>
  <%= f.input :event_url %>
  <div class="event-errors invalid-feedback">
    Please provide a valid city.
  </div>
  <div class="container text-center">
    <%= f.submit "Create", class: 'btn btn-gradient p-2 px-4' %>
  </div>
<% end %>
